@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@500&display=swap');


h1{
    font-family: 'M PLUS 1', sans-serif;
    font-size: 50px;
    margin-left: 140px;
    margin-top: 0px;

    

}
h2{
    font-size: 20px;
    margin-left: 170px
}
body{
    background-color: #b2d3c2;
    padding-top: 30px
}


.profile-image{
    float:right;
    border: 5px solid black;
    text-align: top;
    /* display: flex; */
}
/* Top right bottom left */

section{
    font-size: 20px;
}

p{
    font-size: 20px;
}
li{
    font-size: 20px;
    font-weight: bold;
}

.about-me {
    font-size: 20px;
}
.projects {
    font-style: bold;
}

.social-media {
    list-style: none;
}

#my-own-learning {
    font-weight: normal;

}

 .container {
    list-style-type: none; 
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    
  }
  
  .container a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .container a:hover {
    background:#b2d3c2;
    color: black;
  }

  .main {
    padding: 16px;
    margin-top: 30px;
  }
